.register-wapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-image: linear-gradient(to top, #1E73BE, #E6F7FF);

}
.register-container{
    width: 400px;
    height: auto;
    background-color: rgba(246, 245, 245, 0.423);
    border-radius: 10px;
    padding: 10px 0 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.register-title{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 20px 15px;
}
.register-form{
    padding: 20px;
}

.btn-register{
    margin-top: 10px;
    width: 100%;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.register-input{
    background-color: rgba(246, 245, 245, 0.479);
}