@media (min-width:740px) and (max-width:1023px) {
    .suggest-wapper{
        margin: 0;
        padding: 0;
    }
    .suggest-form{
        width: 80%;
    }
}
@media (max-width:739px) {
    .suggest-wapper{
        margin: 0;
        padding: 0;
    }
    .suggest-form{
        width: 95%;
    }
}